@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Pompiere&family=Quicksand:wght@500&display=swap');
body p{
    font-size: 24px;
    text-align: justify;
  }
  body h2{
    font-size: 33px;
    font-family: 'Pompiere', cursive;
    font-weight: bolder;
  }
  .navigation-link:hover{
     color: black;
  }
  main{
      padding: 20px 70px;
      margin: 0px 0px 60px 0px;
      font-family: 'Pompiere', cursive;
  }
  .image1{
      border-radius: 50%;
  }
  .column{
      text-align: center;
      margin: 100px 0px 70px 0px;
  }
  .column h1{
      margin: 30px;
  }
  .column h2{
      margin: 30px;
  }
  .image1{
      margin: 30px 0px;
      width: 200px;
      height: auto;
  }
  .image2{
      width: 800px;
      height: auto;
  }
  .nav-li{
    text-align: center;
    display: inline-block;
    margin: 20px 15px 20px 15px;
    padding: 7px;
    color: rgba(0, 0, 0, .6);
    transition: 0.5s ease;
  }
  .nav-li:hover{
    color: rgb(28, 151, 207);
  }
  footer{
    text-align: center;
    padding: 40px 0px 40px 0px;
    background-color: rgba(225, 225, 225, .7);
    font-family: 'Quicksand', sans-serif;
  }
  .footer-ul{
    margin: 0px 0px 20px 0px;
  }
  .backtotop{
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
    margin: 0px 0px 0px 20px;;
  }
  .backtotop:hover{
    color: rgba(0, 0, 0, .8)
  }
  .subscribe{
    border-color: rgb(28, 151, 207);
    color: rgb(28, 151, 207);
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
  }
  .subscribe:hover{
    background-color: rgb(28, 151, 207);
  }
  .navigation{
    padding: 30px 60px 30px 60px;
    background-color: white;
  }
  .header-navigation-link{
    font-weight: bold;
    transition: 0.6s ease;
    font-family: 'Quicksand', sans-serif;
  }
  .header-navigation-link:hover{
    color: rgb(28, 151, 207);
  }
  .column-h2{
    font-weight: bolder;
  }
  
  
  
  @media (max-width: 767px) {
      .column h1{
        font-size: 28px; 
        text-align: center;
      }
      .column h2{
        font-size: 16px;
      }
      body p{
        font-size: 19px;
      }
      body h2{
        font-size: 28px;
      }
      .nav-li{
        margin: 10px 3px 20px 3px;
      }
      .navigation{
        padding: 20px 20px 20px 20px;
      }
      footer div{
        font-size: smaller;
      }
      .footer-ul{
        font-size: smaller;
      }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      .column h1{
        font-size: 32px; 
      }
      .column h2{
          font-size: 17px;
      }
      body p{
        font-size: 22px;
      }
      body h2{
        font-size: 31px;
      }
      .navigation{
        padding: 20px 30px 20px 30px;
      }
    }
    @media (min-width: 1025px) {
      .column h1{
        font-size: 45px;
      }
      .column h2{
          font-size: 24px;
      }
      body p{
        font-size: 24px;
      }
      body h2{
        font-size: 33px;
      }
    }